@charset "UTF-8";

/* login.css */

* {padding:0; margin:0; }

ul li {list-style-type:none;}

/* 가운데 정렬 */
body { 
	margin:0 auto;
	text-align:center;
	width:100%;
}

/* 로그인 */
h2 {
	margin-top:2%;
	font-weight:bold;
	font-size:24px;
	
}


/* 선 */
h3 { 
	border:1px solid #eee;
	margin-top:1%;
}

table {
	text-align:center;
	margin:0 auto;
	width:15%;
	border-collapse: separate;
  	border-spacing:0 10px;
  	margin-left:40%;
}

.btnBox {
	margin-top:0.5%;
}

#loginBtn {
	padding:1px 5px;
}

#resetBtn {
	margin-left:0.5%;
	padding:1px 5px;
}
